# App Configuration
APP_NAME="Clipboard Sync API"
VERSION=1.0.0

# Server Configuration
PORT=3002
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3002,https://api-clipsync.gentech.my.id
TRUSTED_IPS=127.0.0.1

# Database Configuration
DB_HOST=db
DB_DATABASE=ClipSync_DB_DEV
DB_USER=root
DB_PASS=
DB_PORT=3306

# JWT Configuration
JWT_SECRET=YourJWTSecret
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=YourRefreshTokenSecret
REFRESH_TOKEN_EXPIRES_IN=30d

# Session Configuration
SESSION_SECRET=uPKWVNOsvkOGcGxCnxUWdAmb1Lv128+e1bfGseycayU=
SESSION_EXPIRE_HOURS=2 # 2 jam

# Clipboard Configuration
CLIPBOARD_EXPIRE_HOURS=168 # 168 jam = 1 minggu

# File Upload Configuration
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads

# Socket.IO Configuration
SOCKET_PING_TIMEOUT=60000
SOCKET_PING_INTERVAL=25000

# Security
BCRYPT_ROUNDS=10
MAX_LOGIN_ATTEMPTS=5 # maximum login attempts before lock
ACCOUNT_LOCK_TIME=15 # in minutes
